<div class="container">
    <div class="title">
        <h1>Hi, welcome to my website!</h1>
    </div>

    <div>
        <p>
            I am a second-year Artificial Intelligence student at The 
            University of Manchester and really enjoy programming new 
            practical products.
        </p>
    </div>

    <hr>

    <div>
        <h3>My Tech Stack</h3>
        <mat-chip-list aria-label="Fish selection">
            <mat-chip selected>Python</mat-chip>
            <mat-chip selected>Java</mat-chip>
            <mat-chip>JavaScript</mat-chip>
            <mat-chip>C#</mat-chip>
            <mat-chip>C++</mat-chip>
    </mat-chip-list>
    </div>
</div>